@import url('https://fonts.googleapis.com/css?family=Advent+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
}
html, body{
    min-height: 100vh;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    position: relative;
    background-image: url(Img/login-bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: rgba(0,0,0,.8);
}
nav a{
    position: relative;
    text-decoration: none;
    margin-right: 50px;
    text-transform: uppercase;
    color: white;
}
nav .option::before{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background: white;
    transition: .5s;
}
nav .option:hover::before{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #f04337;
}
.logo{
    font-family: 'Advent Pro', sans-serif;
    position: absolute;
    top: 5px;
    letter-spacing: 10px;
    left: 10px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    font-weight: bold;
    transition: 1s;
}
.logo:hover{
   color: #f04337; 
}
.dropp-menu{
    display: none;
}
.menu{
    position: absolute;
    top: 0%;
    right: .5%;
    border: none;
    background: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    height: 50px;
    width: 50px;
    transform: rotate(90deg);
    display: none;
    cursor: pointer;
    transition: .3s;
}
.menu:hover{
    letter-spacing: 1px;    
}
form{
 height: 500px;
 width: 400px;
}
.box{
 box-shadow: 0px 0px 10px black;
 color: white;
 position: relative;
 height: 100%;
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 transition: .5s;
 border: none;
}
.box:hover{
    background: rgba(0,0,0,.3);
}
.box h1{
    position: absolute;
    top: 10px;
    left: auto;
    text-transform: uppercase;
    font-family: 'Advent Pro', sans-serif;
}
.inputs{
    position: relative;
    top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
label{
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    position: relative;
    left: -125px;
}
.vstup{
  height: 30px;
  width: 300px;
  border: 1px solid rgba(255,255,255,.6);
  border-radius: 25px;
  padding-left: 10px;
  margin: 10px 0px;
  font-size: 20px;
  background: rgba(255,255,255,.6);
  color: black;
  outline: none;
}
.vstup:hover{
    transition: .2s;
    border: 1px solid black;
    box-shadow: 0px 0px 5px black;
}
.vstup:focus{
    border: 1px solid black;
    box-shadow: 0px 0px 5px black;
}
.btn{
 margin-top: 20px;
 width: 310px;
 height: 40px;
 border-radius: 25px;
 font-size: 20px;
 background: rgba(0,0,0,.8);
 color: white;
 cursor: pointer;
 border: none;
 transition: .2s;
 outline: none;
}
.btn:hover{
    background: black;
}
.prelink{
position: absolute;
bottom: 50px;
display: flex;
flex-direction: column;
left: 50px;
}
.rel{
position: relative;
text-decoration: none;
color: white;
margin: 5px 0px;
}
.rel:hover{
    color: #000;
}
.rel::before{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0%;
    background: #f04337;
    transition: .4s;
}
.rel:nth-child(1):hover::before{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 1px;
    width: 65%;
    background: #f04337;
}
.rel:nth-child(2):hover::before{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: #f04337;
}
footer{
    position: absolute;
    bottom: 0;
    font-size: 10px;
    left: 0;
    text-align: center;
    height: 30px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-family: 'Advent Pro', sans-serif;
    font-size: 20px;
    font-weight: bold;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 300px;
    background: rgba(255,255,255,.8);
    display: none;
    transition: .4s;
    border-radius: 20px;
}
.popMessage{
    color: red;
}
@media (max-width: 500px){
    form{
        width: 100%;
    }
    .prelink{
        left: 100px;
    }
    .dropp-menu{
        position: absolute;
        left: 0;
        top: 50px;
        height: 100px;
        width: 100%;
        background: rgba(0,0,0,.8);
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: none;
    }
    .dropp-item{
        color: white;
        padding: 5px;
        text-transform: uppercase;
        text-decoration: none;
    }
    .option{
        display: none;
    }
    .menu{
        display: block;
    }
}
@media (max-width: 400px){
    .box h1{
        margin-top: 10px;
    }
    .prelink{
        left: 10%;
    }
    .option{
        display: none;
    }
    .menu{
        display: block;
    }
    .menu:hover{
        letter-spacing: 1px;
    }
    }
@media (max-width: 350px){
.box{
    top: 18px;
}
.box h1{
    margin-top: 10px;
}
.prelink{
    left: 2%;
}
.option{
    display: none;
}
.menu{
    display: block;
}
.menu:hover{
    letter-spacing: 1px;
}
}





