@import url('https://fonts.googleapis.com/css?family=Advent+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
}
body, html{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}
.container{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: url("IMG/prednaska.jpeg") center;
    background-size: cover;
}
.predcontainer{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}
.teacher-content{
    position: relative;
    top: 0px;
    width: calc(80% - 200px);
    height: calc(90vh - 100px);
    background: rgba(255,255,255,.8);
    padding: 50px 100px;
    overflow: auto;
    box-shadow: inset 0px 0px 2px black;
}
.show-teacher-data{
    position: absolute;
    height: 90%;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 100px);
    overflow: auto;
    padding: 0px 50px;
}
.dopln-info{
    font-family: 'Advent Pro', sans-serif;
    position: absolute;
    top: 10px;
    font-size: 30px;
    left: 50%;
    transform:translate(-50%);
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: black;
}
.prednaskyBox{
    border-top: 1px solid white;
    position: absolute;
    bottom: -50px;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background: rgba(0,0,0,.8);
    transition: .3s;
}
.prednaskyBox a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.prednaskyBox a:hover{
    color: rgb(243, 219, 0);
}
.prednaskyBox::before{
    content: "DOWNLOAD";
    padding: 10px;
    position: absolute;
    background: rgba(0,0,0,.8);
    top: -41px;
    border: solid 1px white;
    left: 0;
    color: white;
}
.prednaskyBox:hover{
    bottom: 0;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background: rgba(0,0,0,.8);
}
.logo{
    font-family: 'Advent Pro', sans-serif;
    position: absolute;
    left: 10px;
    top: 5px;
    letter-spacing: 10px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    transition: .3s;
}
.logo:hover{
    color: rgb(243, 219, 0);
}
.mainNav{
    margin-left: auto;
    height: 100%;
    width: 45%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
aside{
    position: absolute;
    width: 150px;
    height: calc(100% - 50px);
    top: 50px;
}
.sideMenu{
    position: relative;
    left: -100%;
    display: flex;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.8);
    list-style: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .5s;
    z-index: 2;
}
.sideMenu::after{
    position: absolute;
    content: "Zoznam";
    color: white;
    height: 20px;
    width: auto;
    top: 45%;
    right: -39%;
    background: rgba(0,0,0,.8);
    padding: 5px 10px;
    transform: rotate(-90deg);
    text-transform: uppercase;
}
.sideMenu:hover{
    left: 0%;
}
.side-item{
    margin: 15px 0px;
    padding: 5px;
    width: calc(100% - 10px);
    text-align: center;
}
.side-item:hover{
    box-shadow: inset 0px 0px 10px  black;
}
.link{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.link1{
    transition: .2s;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}
.link1:hover{
color: rgb(243, 219, 0);
}
.link2{
    transition: .1s;
    width: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    margin: 5% 0px;
    outline: none;
}
.link2:hover{
text-shadow: 0px 0px 2px black;
color: rgb(243, 219, 0);
}
.load{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    content: "";
    background: black;
    animation: load 2s  forwards;
    z-index: 1000;
}
@keyframes load{
    from{
        width: 0%;
        background: rgba(0,0,0,.6);
    }
    to{
        width: 100%;
        background: rgba(0,0,0,1);
    }
}
main{
    height: calc(100% - 50px);
    width: 100%;
    position: absolute;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    position: relative;
    height: 100%;
    width: 1000px;
    background: #fff;
    box-shadow: 5px 5px 5px rgba(0,0,0,.8);
    transition: .4s;
    display: none;
    opacity: 0;
}
.prezentator{
    height: 90%;
    width: 100%;
    position: relative;
    top: 10%;
    left: 0%;
    overflow: hidden;
    scroll-behavior: smooth;
}
#prednaska1, #prednaska2, #prednaska3, #prednaska4, #prednaska5,
#prednaska6, #prednaska7, #prednaska8, #prednaska9, #prednaska10,
#prednaska11, #prednaska12{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}
#prednaska1{
    background: blue;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}
#prednaska2{
    background: green;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}
.btn{
    position: absolute;
    right: 5px;
    top: 3px;
    background: none;
    border: none;
    height: 24px;
    width: 24px;
    font-weight: 600;
    cursor: pointer;
    font-size: 24px;
    transition: .3s;
    background: none;
    outline: none;
}
.btnMin{
    position: absolute;
    right: 65px;
    top: 5px;
    background: none;
    border: none;
    height: 20px;
    width: 20px;
    font-weight: 600;
    cursor: pointer;
    font-size: 20px;
    transition: .3s;
    outline: none;
}
.btnMax{
    position: absolute;
    right: 35px;
    top: 5px;
    background: none;
    border: none;
    height: 20px;
    width: 20px;
    font-weight: 600;
    cursor: pointer;
    font-size: 20px;
    transition: .3s;
    outline: none;
}
.btn:hover{
    animation: pop .3s linear forwards;
    color: red;
}
.btnMin:hover{
    animation: pop .3s linear forwards;
}
.btnMax:hover{
    animation: pop .3s linear forwards;
}
@keyframes pop{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
.slide{
    /* background: url(/Elearning/Data/Prednasky/UIES_pr1-3-01.jpg); */
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    transition: .5s;
}
.btn-group{
    position: absolute;
    bottom: 10px;
    left: 20px;
}
.btn1, .btn2{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
    color: black;
    background: transparent;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
    outline: none;
}
.btn1:hover, .btn2:hover{
    background: rgba(0, 0, 0, .8);
    color: white;
}
footer{
    position: absolute;
    font-size: 10px;
    bottom: 0;
    left: 0;
    text-align: center;
    height: 30px;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobileMenu{
    display: none;
}
.prednaska1, .prednaska2, .prednaska3, .prednaska4, 
.prednaska5, .prednaska6, .prednaska7, .prednaska8{
    display: none;
}
.home{
    display: none;
}
@media (max-width: 1200px){
.mainNav{
    width: 60%;;
}
.btnMax{
    display: none;
}
.box{
    height: 600px;
}
.prednaska1, .prednaska2, .prednaska3, .prednaska4, 
.prednaska5, .prednaska6, .prednaska7, .prednaska8{
    display: none;
}
}
@media (max-width: 500px){
    .teacher-content{
        display: none;
    }
    .predcontainer{
        display: none;
    }
    .prednaskyBox{
        display: none;
    }
    ::-webkit-scrollbar{
        display: none;
    }
    .container{
        background: linear-gradient(to top, #0A5FF0,#5C45B6, #BD00F5);
        box-shadow: inset 0px 0px 20px white;
    }
    .home{
        position: absolute;
        right: 5px;
        top: 30%;
        color: white;
        font-size: 25px;
        display: block;
    }
    .mobileMenu{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow: auto;
    }
    .mobileMenu li{
        list-style: none;
    }
    .mobile-menu-item{
        height: 50px;
        border: none;
        background: radial-gradient(black, rgb(59, 59, 59));
        color: white;
        width: 200px;
        margin: 20px 0px;
        text-transform: uppercase;
    }
.mainNav{
    display: none;
}
.sideMenu{
    display: none;
}
.box{
    display: none;
}
.prednaska1, .prednaska2, .prednaska3, .prednaska4, 
.prednaska5, .prednaska6, .prednaska7, .prednaska8{
    background: black;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: none;
    opacity: 0;
    transition: .5s;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header, .header2, .header3, .header4, .header5,
.header6, .header7, .header8{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.pre-1-back, .pre-2-back, .pre-3-back, .pre-4-back,
.pre-5-back, .pre-6-back, .pre-7-back, .pre-8-back{
    background: transparent;
    color: white;
    margin-right: 5px;
    padding: 0px 5px;
    font-weight: 800;
    border: none;
    outline: none;
}
.header h1, .header2 h1, .header3 h1, .header4 h1, .header5 h1,
.header6 h1, .header7 h1, .header8 h1{
    width: 100%;
    color: white;
    text-align: left;
    padding-left: 5px;
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
}
.slider, .slider2, .slider3, .slider4,
.slider5, .slider6, .slider7, .slider8{
    height: 100%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}
.img-slide{
    width: 100%;
}
}
@media (max-width: 450px){
    .mobile-menu-item{
        width: 300px;
        height: 80px;
        font-size: 20px;
    }
    .header{
        height: 50px;
        align-items: center;
        font-size: 25px;
    }
    .prednaska1{
        background: black;;
    }
    .slider{
        height: 100%;
        width: 95%;
        overflow: scroll;
        overflow-x: hidden;
    }
}
@media (max-width: 400px){
    .header{
        height: 50px;
        align-items: center;
        font-size: 30px;;
    }
    .mobile-menu-item{
        width: 300px;
        height: 80px;
    }
    .prednaska1{
        background: black;;
    }
    .slider{
        height: 100%;
        width: 95%;
        overflow: scroll;
        overflow-x: hidden;
    }
}
@media (max-width: 350px){
    .prednaska1{
        background: black;;
    }
    .slider{
        height: 100%;
        width: 98%;
        overflow: scroll;
        overflow-x: hidden;
    }
}